h1 {
  font-size: 20px;
}

.activityFeed {
  display: flex;
  align-items: center;
  align-items: space-between;
  font-style: normal;
  font-weight: bold;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  width: 500px;
}
.headLine {
  font-size: 50px;
  font-weight: bold;
}
#toDo {
  width: 500px;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
}
#mainBody {
  box-sizing: border-box;
}
